@import 'colors';

// Basic styles
.clue-header {
  padding: .5em;
  margin: 0;
  border-bottom: 1px solid gray;
  font-weight: bold;
  text-transform: uppercase;
}

.clue-list {
  margin: 0;
  padding: 0;
  overflow: auto;

  li {
    list-style: none;
    cursor: pointer;
    padding: .15em .25em;
    margin: 1px;
    margin-left: 7px;
  }

  .clue-number {
    font-weight: bold;
    margin-right: .5em;
    width: 1em;
    display: table-cell;
    float: left;
    text-align: right;
  }

  .clue-text {
    display: table-cell;
  }

  // Extra space for 3-digit clues
  .clues-3digit & .clue-number {
    width: 1.5em;
  }
}

// Colors
.clue-list-wrapper {
  &.highlight-primary li.highlight {
      margin: 0;
      background: $clue-primary-color;
      border: 1px solid $clue-primary-color;
      border-left: 7px solid $clue-primary-color;
  }

  &.highlight-secondary li.highlight {
      margin: 0;
      border: 1px solid $clue-secondary-color;
      border-left: 7px solid $clue-secondary-color;
  }
}

// Layouts

.clues-vertical, .clues-horizontal {
  &.clue-list-wrapper {
    display: flex;
    flex-flow: column;
  }
}

// Single clue at a time
.clue-list-wrapper.clues-tiny {
  display: flex;
  flex-flow: row;
  align-items: center;
  line-height: 1.2;
  height: 3em;

  .clue-header {
    flex: 1;
    min-width: 5em;
    border-bottom: none;
  }

  .clue-list {
    flex: 5;
    max-height: 100%;
  }

  // Hide all but the current list item
  li {
    display: none;
    &.highlight {
      display: list-item;
    }
  }

  // Highlight the whole row
  &.highlight-primary {
    background: $primary-color;
  }
  // Clear the default highlight styles
  li, li.highlight {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
  }
}
