$primary-color: powderblue;
$secondary-color: gold;
$border-color: black;

$cursor-color: $secondary-color;
$word-color: $primary-color;
$clue-prompt-color: $primary-color;
$clue-primary-color: $primary-color;
$clue-secondary-color: $primary-color;

$remote-cursor-color: gray;
$remote-word-color: lightgray;

$toolbar-border-color: #aaa;
$toolbar-shadow-color: lighten($toolbar-border-color, 10%);
$toolbar-highlight-color: $primary-color;
